<launch>
    <arg name="rtabmap_workingDirectory" default="~/APP_EXT/rtabmap_working_dir"/>
    <arg name="database_path"           default="~/APP_EXT/rtabmap_working_dir/rtabmap.db"/>
    <arg name="initial_pose"            default="0 0 0 0 0 0"/>

    <arg name="cam_namespace"    default="/d435"/>
    <arg name="cfg"              default="$(find rtabmap_ros)/launch/config/rtabmap_config.ini" /> <!--RTABMap parameters configuration-->

    <!-- sim time for convenience, if playing a rosbag set true -->
    <arg name="use_sim_time"            default="false"/>
    
    <arg name="device_type_camera1"     default="t265"/>
    <arg name="device_type_camera2"    	default="d435"/>	
    <arg name="serial_no_camera1"    	default="943222110165"/>
    <arg name="serial_no_camera2"    	default="919122072217"/>        
    <arg name="camera1"              	default="t265"/>		<!-- Note: Replace with camera name -->
    <arg name="camera2"              	default="d435"/>		<!-- Note: Replace with camera name -->
    <arg name="clip_distance"           default="-4"/>
    <arg name="initial_reset"           default="false"/>
    
    <!-- ********** RealSense cameras LAUNCH ********** -->
    <include file="$(find navmap_sensors)/launch/rs_d435i_t265_base.launch">
            <arg name="device_type_camera1"             value="$(arg device_type_camera1)"/>
            <arg name="device_type_camera2"             value="$(arg device_type_camera2)"/>
            <arg name="serial_no_camera1"               value="$(arg serial_no_camera1)"/>
            <arg name="serial_no_camera2"               value="$(arg serial_no_camera2)"/>
            <arg name="camera1"                         value="$(arg camera1)"/>
            <arg name="camera2"                         value="$(arg camera2)"/>
            <arg name="clip_distance"                   value="$(arg clip_distance)"/>
            <arg name="initial_reset"                   value="$(arg initial_reset)"/>
    </include>
    
    <!-- ********** RTABMAP LAUNCH ********** -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="output"                  default="log"/>
        <!-- <arg name="cfg"                     value="$(arg cfg)"/> -->
        <arg name="rtabmap_args"            default="--delete_db_on_start"/>
        <arg name="use_sim_time"            default="$(arg use_sim_time)"/>

        <arg name="visual_odometry"         default="false"/>
        <arg name="odom_topic"              default="/t265/odom/sample"/>   <!-- Odometry topic name -->  
        <arg name="odom_info_topic"         default="/data_odom_sync/odom_info" />
        <arg name="frame_id"                default="$(arg camera1)_link"/>  <!-- fixed body base_link -->
        <arg name="initial_pose"            default="$(arg initial_pose)"/>
        <arg name="data_odom_sync"          default="true" />
        <arg name="subscribe_odom_info"     default="true"/>

        <!-- RGB-D related topics -->
        <arg name="rgb_topic"               default="$(arg cam_namespace)/color/image_raw"/>
        <arg name="camera_info_topic"       default="$(arg cam_namespace)/color/camera_info"/>
        <arg name="depth_topic"             default="$(arg cam_namespace)/aligned_depth_to_color/image_raw"/>
        <arg name="depth_camera_info_topic" default="$(arg cam_namespace)/aligned_depth_to_color/camera_info"/>
        <arg name="queue_size_sync"         default="200"/>

        <!--mapping related parameters -->
        <arg name="rtabmap_workingDirectory" default="$(arg rtabmap_workingDirectory)"/>
        <arg name="database_path"            default="$(arg database_path)"/>
        <arg name="publish_tf_map"           default="true"/>
        <arg name="time_threshold"           default="700"/>  <!-- "Rtabmap/TimeThr" : If the map takes longer than this threshold in milliseconds to update then it is moved to long term storage (does not impact octomap) -->
        <arg name="memory_threshold"         default="1000"/> <!--  "Rtabmap/MemoryThr" : number of nodes in octomap before moved to long-term storage-->
        <arg name="map_resolution"           default="0.05"/>  <!-- "Grid/CellSize": resolution in m of grid/octomap-->
        <arg name="max_nodes"                default="2500"/> <!--  "GridGlobal/MaxNodes:" : Maximum nodes assembled in the map starting from the last node (octomap)-->
        <arg name="queue_size"               default="1"/>
        <arg name="rtabmap_detectionRate"    default="2"/>     <!-- "Rtabmap/DetectionRate" : [Detection rate (Hz). RTAB-Map will filter input images to satisfy this rate.] --> 
        <arg name="tf_delay"                 default="0.037"/>  <!-- (28 Hz) in order to keep up with the odometry time update-->
        <arg name="grid_rangeMax"            default="10"/>
        <arg name="mem_STMSize"              default="30"/>
        <arg name="imageAlreadyRectify"      default="false"/> <!-- /color/image_raw has not been rectified -->
        <arg name="rectifyOnlyFeatures"      default="true"/>  <!-- projection of RGB-D image to point cloud is assuming that images are rectified, so needs to be true -->
    </include>

</launch>