<launch>
    <arg name="initial_pose"        default="0 0 0 0 0 0"/>
    <arg name="cam_namespace"    default="/camera"/>

    <!-- sim time for convenience, if playing a rosbag set true -->
    <arg name="use_sim_time"            default="false"/>
  
    
    <!-- ********** RTABMAP LAUNCH ********** -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <!-- <arg name="output"              value="log"/> --> <!-- Control node output (screen or log) -->
        <arg name="rtabmap_args"            value="--delete_db_on_start"/>
        <arg name="use_sim_time"            value="$(arg use_sim_time)"/>

        <arg name="stereo"                  value="$(arg stereo)"/>  <!-- Choose between depth and stereo, set both to false to do only scan -->  
        <arg name="visual_odometry"         value="false"/>
        <arg name="odom_topic"              value="odom"/>   <!-- Odometry topic name -->  
        <arg name="frame_id"                value="camera_link"/>  <!-- fixed body base_link --> 
        <arg name="initial_pose"            value="$(arg initial_pose)"/>

        <!-- RGB-D related topics -->
        <arg name="rgb_topic"               value="$(arg cam_namespace)/color/image_raw"/>
        <arg name="camera_info_topic"       value="$(arg cam_namespace)/color/camera_info"/>
        <arg name="depth_topic"             value="$(arg cam_namespace)/depth/image_rect_raw"/>
        <arg name="depth_camera_info_topic" value="$(arg cam_namespace)/depth/camera_info"/>
        
        <!--mapping related parameters -->
        <arg name="publish_tf_odom"         value="false"/>  <!-- corresponds to the default rtabmap visual odometry --> 
        <arg name="publish_tf_map"          value="true"/>
        <arg name="raytracing"              value="false"/>
        <arg name="time_threshold"          value="350"/>  <!-- If the map takes longer than this threshold in milliseconds to update then it is moved to long term storage (does not impact octomap) -->
        <arg name="memory_threshold"        value="1000"/> <!--number of nodes in octomap before moved to long-term storage-->
        <arg name="map_resolution"          value="0.05"/> <!--resolution in m of grid/octomap-->
        <arg name="max_nodes"               value="1000"/> <!--maximum number of nodes in octomap-->

               
    </include>

</launch>