<launch>
    <arg name="rtabmap_workingDirectory" default="~/APP_EXT/rtabmap_working_dir"/>
    <arg name="database_path"            default="~/APP_EXT/rtabmap_working_dir/rtabmap.db"/>
    <arg name="initial_pose"      default="0 0 0 0 0 0"/>
       
    <arg name="cam_namespace"    default="/zedm/zed_node"/>

    <!-- sim time for convenience, if playing a rosbag set true -->
    <arg name="use_sim_time"            default="false"/>


    <!-- ****** Launch ZedMini Camera ************ -->
    <arg name="node_name"            default="zed_node" />
    <arg name="camera_model"         default="zedm" /> 
    <arg name="publish_urdf"         default="true" />

    <arg name="camera_name"          default="zedm" />

    <arg name="cam_pos_x"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_y"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_z"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_roll"              default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_pitch"             default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_yaw"               default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->

    <group ns="$(arg camera_name)">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="camera_name"         value="$(arg camera_name)" />
            <arg name="node_name"           value="$(arg node_name)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
            <arg name="cam_pos_x"           value="$(arg cam_pos_x)" />
            <arg name="cam_pos_y"           value="$(arg cam_pos_y)" />
            <arg name="cam_pos_z"           value="$(arg cam_pos_z)" />
            <arg name="cam_roll"            value="$(arg cam_roll)" />
            <arg name="cam_pitch"           value="$(arg cam_pitch)" />
            <arg name="cam_yaw"             value="$(arg cam_yaw)" />
        </include>
    </group>
  
    <!-- ********** RTABMAP LAUNCH ********** -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <!-- <arg name="output"              value="log"/> --> <!-- default: "screen"-->
        <!-- <arg name="cfg"                     value="$(arg cfg)"/> -->
        <arg name="rtabmap_args"             value="--delete_db_on_start"/>     
        <arg name="use_sim_time"             value="$(arg use_sim_time)"/>

        <arg name="visual_odometry"          value="false"/>
        <arg name="odom_topic"               value="$(arg cam_namespace)/odom"/>   <!-- Odometry topic name -->
        <arg name="odom_info_topic"         default="/data_odom_sync/odom_info" />  
        <arg name="frame_id"                 value="base_link"/>  <!-- fixed body base_link --> 
        <arg name="initial_pose"             value="$(arg initial_pose)"/>

        <arg name="data_odom_sync"           value="true" />
        <arg name="subscribe_odom_info"      value="true"/>
         <arg name="queue_size_sync"         value="30" />

        <!-- RGB-D related topics -->
        <arg name="rgb_topic"                value="$(arg cam_namespace)/rgb/image_rect_color"/>
        <arg name="camera_info_topic"        value="$(arg cam_namespace)/rgb/camera_info"/>
        <arg name="depth_topic"              value="$(arg cam_namespace)/depth/depth_registered"/>
        <arg name="depth_camera_info_topic"  value="$(arg cam_namespace)/depth/camera_info"/>
       
        <!--mapping related parameters -->
        <arg name="rtabmap_workingDirectory" value="$(arg rtabmap_workingDirectory)"/>
        <arg name="database_path"            value="$(arg database_path)"/>
        <arg name="publish_tf_map"           value="true"/>
        <arg name="publish_tf_odom"         default="false"/>
        <arg name="time_threshold"           default="700"/>  <!-- "Rtabmap/TimeThr" : If the map takes longer than this threshold in milliseconds to update then it is moved to long term storage (does not impact octomap) -->
        <arg name="memory_threshold"         default="1000"/> <!--  "Rtabmap/MemoryThr" : number of nodes in octomap before moved to long-term storage-->
        <arg name="map_resolution"           default="0.05"/>  <!-- "Grid/CellSize": resolution in m of grid/octomap-->
        <arg name="max_nodes"                default="2500"/> <!--  "GridGlobal/MaxNodes:" : Maximum nodes assembled in the map starting from the last node (octomap)-->
        <arg name="queue_size"               default="5"/>
        <arg name="rtabmap_detectionRate"    default="1"/>     <!-- "Rtabmap/DetectionRate" : [Detection rate (Hz). RTAB-Map will filter input images to satisfy this rate.] --> 
        <arg name="tf_delay"                 default="0.037"/>  <!-- (28 Hz) in order to keep up with the odometry time update-->
        <arg name="grid_rangeMax"            default="8.0"/>
        <arg name="mem_STMSize"              default="30"/>
    </include>

</launch>